<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
        <form #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" *ngIf="success==true">
                        Cliente salvo/atualizado com sucesso!
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="success==false">
                        Erro. Revise suas informações
                    </div>
                </div>
            </div>

        <div class="row" *ngIf="user.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID: </label>
                    <input type="text" class="form-control" [(ngModel)]="user.id" name="id" disabled="true">
                </div>
            </div>
        </div>

        <div class="row" *ngIf="user.registered_date">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro: </label>
                    <input type="text" class="form-control" [(ngModel)]="user.registered_date" name="registered_date" disabled="true">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" [(ngModel)]="user.username" name="username"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" [(ngModel)]="user.cpf" name="cpf" >
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save" ></i> Salvar
                </button>

                <button type="button" class="btn btn-danger ml-2" (click)="backRegister()">
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>